<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Erlaubt Zugriff auf IOKit-Devices -->
    <key>com.apple.security.device.usb</key>
    <true/>

    <!-- Erlaubt Zugriff auf IOKit allgemein -->
    <key>com.apple.security.temporary-exception.iokit-user-client-class</key>
    <array>
        <string>IOUSBDeviceUserClientV2</string>
        <string>IOUSBInterfaceUserClientV2</string>
        <string>IOUSBDeviceInterface</string>
        <string>IOUSBInterfaceInterface</string>
    </array>
</dict>
</plist>